:root{
    --font-family-fr: Frances, sans serif ;
    --font-family-ms:Montserrat, serif ;
    --Dark-cyan: hsl(158, 36%, 37%) ;
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    --font-size-paragraph: 14px;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--Cream);
}
.product-container{
    width: 90%;
    margin: 20px auto;
    border-radius: 10px;
    background-color: var(--White);
    overflow: hidden;
}
.product-container img {
    width: 100%;
}
.product-details {
    width: 90%;
    margin: 15px auto;
}
.product-details__category {
    margin-bottom: 5px ;
    font-family: var(--font-family-ms);
    color: var(--Dark-grayish-blue);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: var(--font-size-paragraph);
    font-weight: 80;
}
.product-details p {
    /*margin-bottom: 0px;*/
    padding-left: 12px;
    font-family: var(--font-family-ms);
    color: var(--Dark-grayish-blue);
    font-size: var(--font-size-paragraph);
    font-weight: 20;
}
.product-details h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 12px;
    font-family: var(--font-family-fr);
    color: var(--Very-dark-blue);
    font-weight: 700;
    font-size: 36px;
}
.product-details button{
    width: 92%;
    height: 3rem;
    margin-left: 50%;
    margin-bottom: 12px;
    transform: translateX(-50%);
    background-color: var(--Dark-cyan);
    border-radius: 10px;
    border: transparent;
    color: var(--White);
    font-family: var(--font-family-ms);
    font-weight: 700;
}
.product-price span:nth-child(1){
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 12px;
    color: var(--Dark-cyan);
    font-family: var(--font-family-ms);
    font-size: 32px;
    font-weight: 700;
}
.product-price span:nth-child(2){
    padding-left: 20px;
    color: var(--Dark-grayish-blue);
    font-family: var(--font-family-ms);
    font-size: var(--font-size-paragraph);
    text-decoration: line-through;
}
.product-price {
    display: flex;
    align-items: center;
}
.icon {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 64px;
    background-image: url("./images/icon-cart.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px; /* Cambia este valor para ajustar la posición del icono */
  }